<div class="hero-unit main">
  <div class="container">
    <div class="row">
      <div class="span1 offset2">
        <p>50%!!</p>
      </div>
      <div class="span4">
        <img class="row-margin" src=<%= DEFAULT_IMAGE_URL %> alt="face">
      </div>
      <div class="span4">
        <img src=<%= DEFAULT_IMAGE_URL %> alt="face">
      </div>
    </div>
    <div class="row">
      <div class="span1 offset2">
        <p>50%!!</p>
      </div>
      <div class="span4">
        <img src=<%= DEFAULT_IMAGE_URL %> alt="face">
      </div>
      <div class="span4">
        <img src=<%= DEFAULT_IMAGE_URL %> alt="face">
      </div>
    </div>
  </div>
</div>

