<div class="form-group">
           <label for="points">Match %</label>
           <input type="range" name="points" id="points" value="0" min="0" max="100" oninput="this.form.out_points.value = this.value">
          <input style ="margin-right: 100px" type ="number" name="out_points"
           min="0" max="100" value="0" 
           oninput = "this.form.points.value=this.value">
           <input type="submit" class = "btn btn-success" data-inline="true" value="Submit">
         </div>