<div class="hero-unit play">
  <div class="container">
    <div class="row">
      <div data-role="main" class="ui-content span5 offset4">
        <form class="form-inline" method="post"  action="/submit">
          <div class="form-group">
            <label for="points">Match %</label>
            <input type="range" name="points" id="points" value="50" min="0" max="100">
            <input type="submit" class = "btn btn-success" data-inline="true" value="Submit">
          </div>
        </form>
      </div>
    </div>
    <div class="row">
      <div class="span5 offset1">
        <img class="row-margin" src=<%= DEFAULT_IMAGE_URL %> alt="face">
      </div>
      <div class="span5 offset1">
        <img src=<%= DEFAULT_IMAGE_URL %> alt="face">
      </div>
    </div>
  </div>
</div>


<% @random = rand(0...9) %>
<% @result = @face['items'][@random]['link'] %>
<img src = "<%= @result %>" />



