<div class="container-fluid">
  <div class="row-fluid">
    <div class="navbar span10 offset1">
      <div class="navbar-inner">
        <ul class="nav">
          <li><a href="/">Home</a></li>
          <li><a href="/upload_page">Upload</a></li>
          <li><a href="/top_picks">Top 5</a></li>
          <li><a href="/about">About </a></li>
        </ul>
      </div>
    </div>
  </div>
</div>