<div class="hero-unit play">
  <div class="container">
    <div class="row">
      <div class="span5 offset4">
        <p>Average Matches: <%= @score %>%</p>
      </div>
    </div>
    <div class="row">
      <div class="span5 offset1">
        <img class="row-margin" src=<%= DEFAULT_IMAGE_URL %> alt="face">
      </div>
      <div class="span5 offset1">
        <img src=<%= DEFAULT_IMAGE_URL %> alt="face">
      </div>
    </div>
  </div>
</div>

